<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <img src="svg/404.svg" alt="404 SVG">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted () {
    // eslint-disable-next-line no-console
    console.log('Component mounted.')
  }
}
</script>
