<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="card card-widget widget-user">
          <div
            class="widget-user-header text-white"
            style="background-image: url('./img/cover.jpg')"
          >
            <h3 class="widget-user-username">{{ this.form.name }}</h3>
            <h5 class="widget-user-desc">{{ this.form.type }}</h5>
          </div>

          <div class="widget-user-image">
            <img class="img-circle" :src="getAvatarPath()" alt="User Avatar">
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">3,200</h5>
                  <span class="description-text">SALES</span>
                </div>
              </div>

              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">13,000</h5>
                  <span class="description-text">FOLLOWERS</span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header">35</h5>
                  <span class="description-text">PRODUCTS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active show" href="#settings" data-toggle="tab">Settings</a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active show" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input
                        v-model="form.name"
                        id="name"
                        type="text"
                        name="name"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('name') }"
                        placeholder="Name"
                        autocomplete="name"
                        maxlength="255"
                        required
                      >
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input
                        id="email"
                        type="email"
                        name="email"
                        v-model="form.email"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('email') }"
                        placeholder="Email"
                        autocomplete="email"
                        maxlength="255"
                        required
                      >
                      <has-error :form="form" field="email"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                      <input
                        id="password"
                        v-model="form.password"
                        type="password"
                        name="password"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('password') }"
                        placeholder="Password"
                        autocomplete="new-password"
                        minlength="8"
                        maxlength="255"
                      >
                      <has-error :form="form" field="password"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="bio" class="col-sm-2 control-label">Bio</label>

                    <div class="col-sm-10">
                      <textarea
                        id="bio"
                        name="bio"
                        v-model="form.bio"
                        placeholder="Bio (Optional)"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('bio') }"
                      ></textarea>
                      <has-error :form="form" field="bio"></has-error>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="avatar" class="col-sm-2 control-label">Avatar</label>

                    <div class="col-sm-10">
                      <input
                        id="avatar"
                        type="file"
                        accept="image/*"
                        name="file"
                        @change="readAvatar"
                        class="form-control-file"
                      >
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button
                        type="submit"
                        @click.prevent="updateProfile"
                        class="btn btn-danger"
                      >Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.widget-user-header {
  background-position: center center;
  background-size: cover;
  height: 250px;
}
</style>


<script>
import Swal from 'sweetalert2'
import { Form, Toast } from '../app'

export default {
  data () {
    return {
      form: new Form({
        id: '',
        name: '',
        email: '',
        password: '',
        type: '',
        avatar: '',
        bio: ''
      })
    }
  },
  mounted () {
    // eslint-disable-next-line no-console
    console.log('Component mounted.')
  },
  created () {
    this.$axios.get('api/profile').then(({ data }) => this.form.fill(data))
  },
  methods: {
    readAvatar (event) {
      let [file] = event.target.files
      let reader = new FileReader()
      const TWO_MEGABYTES_IN_BYTES = 2097152

      if (!file) {
        return Swal.fire({
          type: 'error',
          title: 'Oops...',
          text: 'Please select an avatar that is less than two megabytes.'
        })
      }

      if (file.size > TWO_MEGABYTES_IN_BYTES) {
        return Swal.fire({
          type: 'error',
          title: 'Oops...',
          text: 'The avatar must be less than two megabytes.'
        })
      }

      reader.onloadend = () => {
        this.form.avatar = reader.result
      }

      reader.readAsDataURL(file)
    },
    updateProfile () {
      this.$Progress.start()

      if (!this.form.password) {
        this.form.password = undefined
      }

      this.form
        .put('api/profile')
        .then(response => {
          this.form.avatar = response.data.avatar

          this.getAvatarPath()

          this.$Progress.finish()

          Toast.fire({
            type: 'success',
            title: response.data.message
          })
        })
        .catch(error => {
          this.$Progress.fail()

          Toast.fire({
            type: 'error',
            title: error.response.data.message
          })
        })
    },
    getAvatarPath () {
      const DEFAULT_AVATAR = 'user.jpg'
      if (
        this.form.avatar.includes('data:image/') &&
        this.form.avatar.includes('base64,')
      ) {
        return ''
      }

      if (this.form.avatar === DEFAULT_AVATAR) {
        return 'img/' + this.form.avatar
      }

      return 'img/profile/' + this.form.avatar
    }
  }
}
</script>
