<template>
  <div class="container">
    <div class="row mt-5" v-if="$Gate.allowsAdminOrAuthor()">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">User Manager</h3>

            <div class="card-tools">
              <a @click="resetForm" href="#create-update-user" title="Create User">
                <i class="fas fa-user-plus green"></i>
              </a>
            </div>
          </div>

          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Type</th>
                  <th>Registered At</th>
                  <th>Modify</th>
                </tr>

                <tr v-for="user in users.data" :key="user.id">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.type | capitalize }}</td>
                  <td>{{ user.created_at | format }}</td>
                  <td>
                    <a href="#" @click="fillForm(user)">
                      <i class="fas fa-user-edit orange"></i>
                    </a>
                    /
                    <a href="#" @click="deleteUser(user.id)">
                      <i class="fas fa-user-minus red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-footer">
            <pagination :data="users" @pagination-change-page="indexUsers"></pagination>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="create-update-user"
      tabindex="-1"
      role="dialog"
      aria-labelledby="create-update-user-label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="! editMode" class="modal-title" id="create-update-user-label">Create User</h5>
            <h5 v-show="editMode" class="modal-title" id="create-update-user-label">Update User</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form @submit.prevent="editMode ? updateUser() : createUser()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                  placeholder="Name"
                  autocomplete="name"
                  maxlength="255"
                  required
                >
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.email"
                  type="email"
                  name="email"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('email') }"
                  placeholder="Email"
                  autocomplete="email"
                  maxlength="255"
                  required
                >
                <has-error :form="form" field="email"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.password"
                  type="password"
                  name="password"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('password') }"
                  placeholder="Password"
                  autocomplete="new-password"
                  minlength="8"
                  maxlength="255"
                  :required="! editMode"
                >
                <has-error :form="form" field="password"></has-error>
              </div>

              <div class="form-group">
                <select
                  v-model="form.type"
                  name="type"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('type') }"
                  required
                >
                  <option value selected disabled>Select User Role</option>
                  <option value="admin">Admin</option>
                  <option value="user">Standard User</option>
                  <option value="author">Author</option>
                </select>
                <has-error :form="form" field="type"></has-error>
              </div>

              <div class="form-group">
                <textarea
                  v-model="form.bio"
                  name="bio"
                  placeholder="Bio (Optional)"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('bio') }"
                ></textarea>
                <has-error :form="form" field="bio"></has-error>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button v-show="! editMode" type="submit" class="btn btn-primary">Create</button>
              <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import EventBus from '../EventBus'
import { Form, Toast } from '../app'

export default {
  data () {
    return {
      form: new Form({
        id: '',
        name: '',
        email: '',
        password: '',
        type: '',
        avatar: '',
        bio: ''
      }),
      users: {},
      editMode: false
    }
  },
  methods: {
    indexUsers: function (page = 1, query = '') {
      if (! this.$Gate.allowsAdminOrAuthor()) {
        return this.$router.push('404')
      }

      this.$axios
        .get(this.prepareIndexURL(page, query))
        .then(response => (this.users = response.data))
        // eslint-disable-next-line no-console
        .catch(error => console.error(error.response.data.message))
    },
    createUser: function () {
      this.$Progress.start()
      this.form
        .post('api/users')
        .then(response => {
          this.indexUsers()

          this.$Progress.finish()

          $('#create-update-user').modal('hide')

          Toast.fire({
            type: 'success',
            title: response.data.message
          })
        })
        .catch(error => {
          this.$Progress.fail()

          Toast.fire({
            type: 'error',
            title: error.response.data.message
          })
        })
    },
    deleteUser: function (id) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'You won\'t be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(result => {
        if (result.value) {
          this.$axios
            .delete('api/users/' + id)
            .then(response => {
              this.indexUsers()

              Toast.fire({
                type: 'success',
                title: response.data.message
              })
            })
            .catch(error => {
              Toast.fire({
                type: 'error',
                title: error.response.data.message
              })
            })
        }
      })
    },
    resetForm: function () {
      this.editMode = false

      this.form.reset()

      $('#create-update-user').modal('show')
    },
    fillForm: function (user) {
      this.editMode = true

      this.form.reset()
      this.form.fill(user)

      $('#create-update-user').modal('show')
    },
    updateUser: function () {
      this.form
        .put('api/users/' + this.form.id)
        .then(response => {
          this.indexUsers()

          this.$Progress.finish()

          $('#create-update-user').modal('hide')

          Toast.fire({
            type: 'success',
            title: response.data.message
          })
        })
        .catch(error => {
          this.$Progress.fail()

          Toast.fire({
            type: 'error',
            title: error.response.data.message
          })
        })
    },
    prepareIndexURL: function (page, query) {
      let indexURL = 'api/users?page=' + page

      if (query) indexURL += '&query=' + query

      return indexURL
    }
  },
  created () {
    this.indexUsers()

    EventBus.$on('query-entered', (query) => {
      this.indexUsers(1, query)
    })
  },
  mounted () {
    // eslint-disable-next-line no-console
    console.log('Component mounted.')
  }
}
</script>
